#map{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    border: 1px solid crimson;
    background-color: lightcoral;
    position: relative;
}
.box{
    width: 20px;
    height: 20px;
    position: absolute;
}